/* hidden skip links. still visable to screen readers - https://webaim.org/techniques/css/invisiblecontent/ */
.sr-only {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

/* resets */
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
	display: block;
}

html {
	height: 100%;
	box-sizing: border-box;
}

body {
	position: relative;
	min-height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: "Open Sans", arial, sans-serif;
	font-size: 100%;
	line-height: 1.3;
	background-color: #fafafa;
}

h1, h2, h3, h4, p, ul {
	margin: 0;
	padding: 0;
	font-size: 1.125rem;
	font-weight: normal;
	color: #424242;
}

h1, h2, h3 {
	font-family: "raleway", arial, sans-serif;
}

p {
	font-family: 'open-sans', arial, sans-serif;
	font-weight: 300;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: #424242;
}
	
*, *::before, *::after {
	box-sizing: inherit;
}

ul {
	margin: 0;
	padding: 0;
}

header h2 {
	line-height: 0;
	height: 0;
	text-indent: -10000px;
}

/* using grid */

/* header */

header .wrapper {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 10px;
	margin: 0 auto;
	padding: 30px;
}

header .logo {
	font-family: 'Raleway', sans-serif;
	font-size: 2.2rem;
	font-weight: 700;
}

header nav ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: space-around;
}

header nav ul li {
	list-style-type: none;
	margin-top: 15px;
}

header nav ul li a {
	text-decoration: none;
	color: #4e4e4e;
	text-transform: uppercase;
	font-family: "raleway", "sans-serif";
	font-weight: 700;
}

.wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 1rem;
}

/* banner */

.banner {
	background: url(images/background-opt.jpg) no-repeat fixed center;
	backface-visibility: hidden;
	height: 600px;
	background-size: cover;
	width: 100%;
	position: relative;
}

.layer {
	background-color: rgba(0, 255, 102, 0.4);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.page-heading {
	text-align: center;
	position: absolute;
	width: 100%;
	top: 50%;
}

.page-heading h2 {
	color: #424242;
	font-size: 2.6rem;
	font-weight: 600;
}

.page-heading p {
	color: #424242;
	font-weight: 300;
	padding-top: 15px;
	font-size: 1.3rem;
}

/* about me */

.content {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: minmax(50px, auto);
	grid-gap: 10px;
	grid-template-areas: 
		"who who who who"
		"para para portrait portrait"
		"cv cv portrait portrait";
}

.content h3 {
	grid-area: who;
	color: #1abb9c;
	font-size: 1.4rem;
	font-weight: 700;
	padding-top: 15px;
}

.content p {
	grid-area: para;
	line-height: 1.5;
	font-size: 1.15rem;
}

.content .button {
	grid-area: cv;
	justify-self: center;
}

.content img {
	grid-area: portrait;
}

.button a {
	color: #fff;
	padding: 20px 20px;
	text-transform: uppercase;
	text-align: center;
	background: #4DB6AC;
	border-radius: 10px;
	cursor: pointer;
}

.button a:hover {
	background: #80CBC4;
	transition: all ease-in-out 500ms;
}

.button a:active{
  transform: scale(1.025);
}

/* past work */

.past-work {
	margin-top: 25px;
	background: #26A69A;
	padding-bottom: 20px;
}

.past-work h2 {
	text-align: center;
	padding: 20px 0;
	color: #fff;
	font-size: 1.8rem;
	text-transform: uppercase;
}

.showcase {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(300px, auto);
	grid-gap: 10px;
}

.showcase > * {
	border: 1px solid #26A69A;
	box-shadow: 2px 2px #80CBC4;
}


.showcase div {
	color: #000;
	font-weight: bold;
	height: 100%;
	justify-content: center;
	align-content: center;
	display: grid;
	font-size: 1.15rem;
}

.one {
	background: url(images/pub-menu.jpg) no-repeat;
	background-size: cover;
	opacity: .8;
}

.two {
	background: url(images/wsd.jpg) no-repeat center;
	background-size: cover;
	opacity: .8;
}

.three {
	background: url(images/encryptor.jpg) no-repeat center;
	background-size: cover;
	opacity: .8;
}

.four {
	background: url(images/made.jpg) no-repeat center;
	background-size: cover;
	opacity: .8;
}

.five {
	background: url(images/order.jpg) no-repeat center;
	background-size: cover;
	opacity: .8;
}

.six {
	background: url(images/calc.jpg) no-repeat center;
	background-size: cover;
	opacity: .8;
}

.one:hover, .two:hover, .three:hover, .four:hover, .five:hover, .six:hover {
	transition: all 300ms linear;
	transform:scale(1.1);
	opacity: 1;
}

