/* hidden skip links. still visable to screen readers - https://webaim.org/techniques/css/invisiblecontent/ */
.sr-only {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

/* resets */
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
	display: block;
}

html {
	height: 100%;
	box-sizing: border-box;
}

body {
	position: relative;
	min-height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: "Open Sans", arial, sans-serif;
	font-size: 100%;
	line-height: 1.3;
	background-color: #fafafa;
}

h1, h2, h3, h4, p, ul {
	margin: 0;
	padding: 0;
	font-size: 1.125rem;
	font-weight: normal;
	color: #424242;
}

h1, h2, h3 {
	font-family: "raleway", arial, sans-serif;
}

p {
	font-family: 'open-sans', arial, sans-serif;
	font-weight: 300;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: #424242;
}
	
*, *::before, *::after {
	box-sizing: inherit;
}

ul {
	margin: 0;
	padding: 0;
}
