/* hidden skip links. still visable to screen readers - https://webaim.org/techniques/css/invisiblecontent/ */
.sr-only {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

/* resets */
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
	display: block;
}

html {
	height: 100%;
	box-sizing: border-box;
}

body {
	position: relative;
	min-height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: "Open Sans", arial, sans-serif;
	font-size: 100%;
	line-height: 1.3;
	background-color: #fafafa;
}

h1, h2, h3, h4, p, ul {
	margin: 0;
	padding: 0;
	font-size: 1.125rem;
	font-weight: normal;
	color: #424242;
}

h1, h2, h3 {
	font-family: "raleway", arial, sans-serif;
}

p {
	font-family: 'open-sans', arial, sans-serif;
	font-weight: 300;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: #424242;
}
	
*, *::before, *::after {
	box-sizing: inherit;
}

ul {
	margin: 0;
	padding: 0;
}

header h2 {
	line-height: 0;
	height: 0;
	text-indent: -10000px;
}

/* using grid */

/* header */

header .wrapper {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 10px;
	margin: 0 auto;
	padding: 30px;
}

header .logo {
	font-family: 'Raleway', sans-serif;
	font-size: 2.2rem;
	font-weight: 700;
}

header nav ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-content: space-around;
}

header nav ul li {
	list-style-type: none;
	margin-top: 15px;
}

header nav ul li a {
	text-decoration: none;
	color: #4e4e4e;
	text-transform: uppercase;
	font-family: "raleway", "sans-serif";
	font-weight: 700;
}

.wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 1rem;
}

/* banner */

.banner {
	background: url(images/background-opt.jpg) no-repeat fixed center;
	backface-visibility: hidden;
	height: 600px;
	background-size: cover;
	width: 100%;
	position: relative;
}

.layer {
	background-color: rgba(0, 255, 102, 0.4);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.page-heading {
	text-align: center;
	position: absolute;
	width: 100%;
	top: 50%;
}

.page-heading h2 {
	color: #424242;
	font-size: 2.6rem;
	font-weight: 600;
}

.page-heading p {
	color: #424242;
	font-weight: 300;
	padding-top: 15px;
	font-size: 1.3rem;
}

/* about me */

.content {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: minmax(50px, auto);
	grid-gap: 10px;
	grid-template-areas: 
		"who who who who"
		"para para portrait portrait"
		"cv cv portrait portrait";
}

.content h3 {
	grid-area: who;
	color: #1abb9c;
	font-size: 1.4rem;
	font-weight: 700;
	padding-top: 15px;
}

.content p {
	grid-area: para;
	line-height: 1.5;
	font-size: 1.15rem;
}

.content .button {
	grid-area: cv;
	justify-self: center;
}

.content img {
	grid-area: portrait;
}

.button a {
	color: #fff;
	padding: 20px 20px;
	text-transform: uppercase;
	text-align: center;
	background: #4DB6AC;
	border-radius: 10px;
	cursor: pointer;
}

.button a:hover {
	background: #80CBC4;
	transition: all ease-in-out 500ms;
}

.button a:active{
  transform: scale(1.025);
}

/* past work */

.past-work {
	margin-top: 25px;
	background: #26A69A;
	padding-bottom: 20px;
}

.past-work h2 {
	text-align: center;
	padding: 20px 0;
	color: #fff;
	font-size: 1.8rem;
	text-transform: uppercase;
}

.showcase {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(300px, auto);
	grid-gap: 10px;
}

.showcase > * {
	border: 1px solid #26A69A;
	box-shadow: 2px 2px #80CBC4;
}


.showcase div {
	color: #000;
	font-weight: bold;
	height: 100%;
	justify-content: center;
	align-content: center;
	display: grid;
	font-size: 1.15rem;
}

.one {
	background: url(images/pub-menu.jpg) no-repeat;
	background-size: cover;
	opacity: .8;
}

.two {
	background: url(images/wsd.jpg) no-repeat center;
	background-size: cover;
	opacity: .8;
}

.three {
	background: url(images/encryptor.jpg) no-repeat center;
	background-size: cover;
	opacity: .8;
}

.four {
	background: url(images/made.jpg) no-repeat center;
	background-size: cover;
	opacity: .8;
}

.five {
	background: url(images/order.jpg) no-repeat center;
	background-size: cover;
	opacity: .8;
}

.six {
	background: url(images/calc.jpg) no-repeat center;
	background-size: cover;
	opacity: .8;
}

.one:hover, .two:hover, .three:hover, .four:hover, .five:hover, .six:hover {
	transition: all 300ms linear;
	transform:scale(1.1);
	opacity: 1;
}

/* footer */

footer {
	background: #E0E0E0;
	height: 100%;
	padding: 10px;
}

.social ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-self: center;
	grid-gap: 10px;
}

.social ul li {
	list-style-type: none;
}

.social .linkedin {
	justify-self: end;
}

footer p {
	text-align: center;
}

/* contact page*/

.contact-main {
	background: #C5E1A5;
	margin-top: 10px;
	height: 200px;
}

.contact-main h3 {
	border-bottom: 2px solid #00AE68;
	width: 105px;
	padding-top: 15px;
}

.contact-main p {
	line-height: 1.5;
	font-weight: 500;
	font-size: 1.3rem;
	padding-top: 10px;
}

.contact-me {
	margin: 10px auto;
	max-width: 40%;
}

.contact-me h3 {
	font-size: 1.4rem;
}

.contact-me input, textarea {
	display: block;
	border: 1px solid #00AE68;
	outline: none;
	padding: 20px;
	margin: 15px 0;
	width: 100%;
	border-radius: 10px;
}

.contact-me input:hover, textarea:hover {
    border: 1px solid #69F0AE;
}

.contact-me textarea {
	height: 100px;
}

.contact-me .submit {
	background: #00AE68;
	color: #fff;
	cursor: pointer;
}

/* blog posts */

.blog-posts {
	background: #C5E1A5;
	margin-top: 10px;
	height: 200px;
}

.blog-posts h3 {
	border-bottom: 2px solid #00AE68;
	width: 95px;
	padding-top: 15px;
}

.blog-posts p {
	line-height: 1.5;
	font-weight: 500;
	font-size: 1.3rem;
	padding-top: 10px;
}

.blogs {
	margin: 20px 0 30px 0;
}

.blogs ul {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(150px, auto);
	grid-column-gap: 15px;
	grid-row-gap: 30px;
}

.blogs ul li {
	list-style-type: none;
	padding: 20px;
	border: 1px solid #80CBC4;
	box-shadow: 2px 2px #80CBC4;
	border-radius: 10px;
	display: grid;
}

.blogs ul li h3 {
	font-weight: 700;
	font-size: 1.4rem;
}

.blogs ul li h4 {
	padding: 15px 0 10px 0;
	font-size: 1.25rem;
}

.blogs ul li p {
	line-height: 1.7rem;
	font-size: 1.1rem;
}

.blogs ul li .btn-container {
	align-self: end;
	padding-bottom: 10px;
}

.blogs ul li .btn-container a {
	color: #fff;
	padding: 10px 10px;
	text-transform: uppercase;
	text-align: center;
	background: #4DB6AC;
	border-radius: 10px;
	cursor: pointer;
}

.blogs ul li .btn-container a:hover {
	background: #80CBC4;
	transition: all ease-in-out 500ms;
}

.blogs ul li .btn-container a:active{
  transform: scale(1.025);
}

/* expanded blogs */
.expanded-blogs {
	padding: 15px 0;
}

.expanded-blogs .wrapper {
	max-width: 40%;
	box-shadow: 2px 2px 2px 2px grey;
	border-radius: 15px;
	background: #fff;
}

.expanded-blogs h3 {
	padding: 25px 0;
	font-size: 1.45rem;
	font-weight: 700;
	text-align: center;
	letter-spacing: 2px;
}

.expanded-blogs p {
	padding-bottom: 15px;
	line-height: 1.7rem;
	font-size: 1.125rem;
}

.expanded-blogs h4 {
	padding-bottom: 10px;
	font-size: 1.3rem;
}

.expanded-blogs a {
	color: blue;
	text-decoration: underline;
}

.expanded-blogs li {
	list-style-type: none;
	padding-bottom: 10px;
}

.expanded-blogs img {
	max-width: 100%;
	padding-bottom: 15px;
	margin: 0 auto;
	display: block;
}

/* mobiles */

@media screen and (max-width: 760px) {
	
	/* header and banner */
	
	header .wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
	grid-template-areas: 
		"header header header"
		"nav nav nav";
}
	
	header .wrapper a {
		grid-area: header;
		justify-self: center;
	}
	
	header .wrapper nav {
		grid-area: nav;
		justify-self: center;
		grid-gap: 10px;
		display: grid;
		margin-top: 0;
	}
	
	nav ul li {
		grid-column-gap: 10px;
		display: grid;
		justify-self: center;
	}
	
	.banner {
		height: 350px;
	}
	
	/* about me */
	
	.content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: minmax(50px, auto);
	grid-gap: 10px;
	grid-template-areas: 
		"who who"
		"para para"
		"portrait portrait"
		"cv cv"
}
	
	.button {
		margin-top: 20px;
	}
	
	.content img {
		max-width: 75%;
		margin: 0 auto;
	}
	
	/* past work */
	
	.showcase {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: minmax(300px, auto);
	grid-gap: 10px;
	}
	
	/* blog page */
	
	.blogs ul {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: minmax(150px, auto);
}
	
	.expanded-blogs .wrapper {
	max-width: 95%; 
		box-shadow: none;
}
	
	/* contact page */
	
	.contact-me {
		max-width: 100%;
	}
	
	.contact-me input {
		padding: 10px;
	}
	
}

